# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
hivebox.localstoragedto.hive
hivebox.localstoragedto.lock

# Files and directories created by pub
.packages
build/
pubspec.lock

# dotenv environment variables file
.env*

# IDE directories
.idea/
.vscode/
.obsidian/

# Local storage files
*.hive
*.lock
